body {
    background-color: #ffffff;
    margin: 0;
}

.headingWrapper {
    color: #ffffff;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url("retro.png");
    height: 5rem;
    padding: 2rem;
}

h1 {
    font-weight: bolder;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    margin-top: 0;
    font-family: 'Ranchers', cursive;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

ul {
    background-color: rgba(177, 250, 253, 0.42);
    font-family: 'Fredoka One', cursive;

}

.inputArea {
    background-color: lightgoldenrodyellow;
}

input {
    font-family: 'Fredoka One', cursive;

}