body {
    background-color: #ffffff;
    margin: 0;
}

.headingWrapper {
    color: #ffffff;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url("retro.png");
    height: 5rem;
    padding: 2rem;
}

h1 {
    font-weight: bolder;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    margin-top: 0;
    font-family: 'Ranchers', cursive;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.contentWrapper {
    background-color: #ff8225;
    padding: 2rem;
    margin: 3rem;
    border-radius: 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

ol {
    font-family: 'Fredoka One', cursive;
    color: #e38ce2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

.newTodo {
    margin: 1rem;
    font-family: 'Fredoka One', cursive;
    width: 15rem;
    padding: 0.5rem;
    border-radius: 16px;
}

.submit {
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
    padding: 0.5rem;
    border-radius: 16px;
    background-color: #e38ce2;
}